# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

# System/tool-specific ignores
.directory
*~
/FirstGame.sln
!/.gitignore

# Common IntelliJ Platform excludes

# User specific
.idea/
*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
_UpgradeReport_Files/
[Pp]ackages/
Thumbs.db
Desktop.ini
.DS_Store